/nbproject/private/
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/volumes/
/target/

monitor
monitor-*.zip


.phpunit.result.cache
