[
    {
        "name": "monitor.phar",
        "sha1": "{{sha1}}",
        "url": "https://gitlab.cylab.be/cylab/monitoring/blob/master/php-client/release/monitor-{{version}}.phar",
        "version": "{{version}}"
    }
]
