// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import '~@fortawesome/fontawesome-free/css/all.css';


html,body {
  height:100%;
}

.cover {
  min-height:100%;
  display:flex;
  align-items:center
}

.collapse.show {
  background-color:white;
}

.container{
  padding-bottom:5px;
}

.bg-primary {
  background-color: #333 !important;
}

nav.navbar {
    margin-bottom: 30px;
}

.card {
    margin-top:2px;
    margin-bottom: 10px;
}

.card-border-3 {
    border-width:3px !important;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 5px
}